/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

header {
    background-color: #00abbf;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-color: rgb(207, 203, 203);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #FFC107;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #FFA000;
}

footer {
    background-color: #00abbf;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Additional Styles for Login Page */
.login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-login {
    display: block;
    width: 100%;
    background-color: #00abbf;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #00abbf;
}


#contenedor-viajes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    margin: 15% 15% 0% 15%;
}


.box-viaje {
    background-color: #00abbf;
    color: white;
    width: 200px;
    height: 250px;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    flex: 0 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.trayecto {
    font-size: 1.5rem; 
}
.fecha {
    text-align: left;
}
.empresa {
    font-size: 1rem;
    text-align: center;
}

.button-viaje {
    color: white;
    margin-top: auto;
    display: inline-block;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.button-viaje:hover {
    background-color: white;
    color: #123949;
}
